<div class="container container-transparent-navbar">
  <h1 style="text-align: center"><i class="fa-solid fa-paper-plane"></i> OUAICH, ICI C'EST LA POSTE</h1>
  <div class="messenger">

    <%@last_messages.each do |m| %>
      <div class="message d-flex justify-content-between">
        <div>
          <h3><%= m.booking.offer.name %></h3>
          <i><%= m.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          <p><%= m.user.first_name %> wrote: <%= m.content%></p>
        </div>
        <%= link_to "View conversation", booking_path(m.booking, anchor:"messenger"), class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>







<%# @bookings_owner
@bookings_user %>
