
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs mt-3">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "firstname" },
                placeholder: "Firstname*"  %>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "lastname" },
                placeholder: "Lastname*"  %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" },
                placeholder: "email*"%>

                <%= hidden_field_tag :pro, true %>
    <%= f.input :password,
                required: true,
                label: false,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                placeholder: "password*" %>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                input_html: { autocomplete: "new-password" },
                placeholder: "password confirmation*" %>




  </div>

  <div class="form-actions">
    <div class="d-grid col-3 mx-auto my-4">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
