<div class="banner-show-booking d-flex">
  <div class="banner-booking-info">
    <h3>Your booking of:</h3>
    <h1><%= @booking.offer.name %></h1>
    <h3>Your teacher: <%=@booking.offer.user.first_name%> <%= @booking.user.last_name%></h3>
    <h5><i class="fa-solid fa-location-pin"></i> <%= @booking.location%></h3>
    <h5>Status: <%=@booking.status%></h5>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between p-4">
    <div class= "col-9 mr-3">
      <div class="d-flex justify-content-between">
        <p>Category: <%= @booking.offer.category %></p>
        <p>Level: <%= @booking.offer.level %></p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Number of dives: <%= @booking.offer.dives %></p>
        <p>Duration: <%= @booking.offer.duration %> <%= @booking.offer.unit_duration %></p>
      </div>
      <h5>Briefing:</h5>
      <p><%= @booking.offer.briefing %></p>
      <div class="d-flex justify-content-between">
        <div class="col-4">
          <h5>Prerequisites:</h5>
          <p><%= @booking.offer.prerequisites %></p>
        </div>
        <div class="col-4">
          <h5>Included:</h5>
          <p><%= @booking.offer.included %></p>
        </div>
      </div>
    </div>
    <div>
      <h1>Contact:</h1>
      <h3>Teacher:</h3>
      <p><%= @booking.offer.user.email %></p>
      <h3>Booker:</h3>
      <p><%= @booking.user.email %></p>
    </div>
  </div>
</div>

<% if @booking.methods.include?(:messages) %>
  <div class="container mt-5">
    <h1>Messagerie:</h1>
    <div class="messages">
      <% @booking.messages.each do |message| %>
        <div id="message-<%= message.id %>">
          <small>
            <strong><%= message.user.first_name %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
      <%= simple_form_for [@booking, @message],
        html: {class: "d-flex"} do |f|
        %>
        <%= f.input :content,
                    label: false,
                    placeholder: "Coucou",
                    wrapper_html: {class: "flex-grow-1"}
                    %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  </div>
<% end %>

<%# modèle à adapter ->  %>
<%# <%= cl_image_tag @pro.avatar.key, class: "avatar-profile" %>
