  <div class="video position-relative">
  <%= video_tag "https://res.cloudinary.com/dtohrmf4g/video/upload/v1654167319/aquarium_-_109184_Original_pgrubc.mp4", autoplay: true, muted: true, loop: true, id: "background-video" %>
    <div class="container">
      <div class="banner" >
        <h1>Welcome to ScubaLibre</h1>
        <p>Find a scuba instructor for your next dive!</p>
        <div class="search col-sm-9 col-md-6 col-lg-6">
            <%= form_tag pros_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Where do you want to dive?"
              %>
            <button name="button" type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
            <% end %>
        </div>
      </div>
    </div>
    <a class="encircle bounce animated" href="#scroll-position">
      <div class="arrow"></div>
    </a>
<div class="dark fold" id="scroll-position">
  <div class="container d-flex">
    <div class="w-50 px-5 border-end">
      <h2 class="font-size-28 pb-5 text-center">About us</h2>
      <p class="font-size-18 text-align-justify">Founded by divers and ocean lovers, ScubaLibre allows you to explore the underwater world the easiest way possible.
      Whether you're eager to learn how to dive or you want to perfect your skills, our members will find the best option for you !</p>
    </div>
    <div class="w-50 px-5">
      <h2 class="font-size-28 pb-5 text-center">Scuba Libre and the environment</h2>
      <p class="font-size-18 text-align-justify">Wondering how to protect the ocean? Here are a bunch of straightforward things to do and smart ways to help save the oceans as a diver.
      Since the ocean covers more than 71% of our planet’s surface, it is home to an astounding diversity of species and affects everything from climate regulations to food systems.</p>
    </div>
  </div>
</div>


  <div class="fold container pb-1 position-relative">
  <div class="font-size-28 text-center">

    <h2> Feeling uninspired ? Here are some recommendations for you </h2>
  </div>

  <div class="cards d-flex px-5 py-3 fold">
    <%= link_to pros_path(query: 'bali'), class: "card-trip w-25 rounded" do %>
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246358/sonaal-bangera-RVuj71bsU4Y-unsplash_ihtj9y.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Bali</h2>
          <p>Dive with manta rays</p>
        </div>
      </div>
    <% end %>

    <%= link_to pros_path(query: 'belize'), class: "card-trip w-25 rounded" do %>
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246658/david-reynolds--eMN9QKB5bE-unsplash_glwpns.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Belize</h2>
          <p>Explore the barrier reef</p>
        </div>
      </div>
    <% end %>

    <%= link_to pros_path(query: 'cozumel'), class: "card-trip w-25 rounded" do %>
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246509/malek-bee-Zw_eV19BC58-unsplash_wsile0.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Cozumel</h2>
            <p>Discover the wrecks of Mexico</p>
          </div>
      </div>
    <% end %>



    <%= link_to pros_path(query: 'cancun'), class: "card-trip w-25 rounded" do %>
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654174745/cenote_nma8pr.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Cancun</h2>
          <p>Dive in the cenotes</p>
        </div>
      </div>
    </div>
  <% end %>


  <div class="cards d-flex px-5  py-3 fold">
    <%= link_to pros_path(query: 'baja california'), class: "card-trip w-25 rounded" do %>
        <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654245062/photodiver_gnf3nr.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Baja California</h2>
            <p>Learn underwater photography</p>
        </div>
      </div>
  <% end %>

    <%= link_to pros_path(query: 'malta'), class: "card-trip w-25 rounded" do %>
        <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654200702/shifaaz-shamoon-t4a2jEhg1n8-unsplash_tvczol.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Malta</h2>
            <p>Free dive in the best reefs</p>
          </div>
        </div>
    <% end %>

    <%= link_to pros_path(query: 'norway'), class: "card-trip w-25 rounded" do %>
        <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654238708/tech_diving_mgbnnc.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Norway</h2>
            <p>Get into Tech Diving</p>
          </div>
        </div>
    <% end %>

    <%= link_to pros_path(query: 'honduras'), class: "card-trip w-25 rounded" do %>
        <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654238858/beach_dive_dc7juf.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Honduras</h2>
            <p>The best shore dives </p>
          </div>
        </div>
    </div>
<% end %>
</div>

<div class="vague">
</div>
