<%# BANNER  %>
<div class="banner-index-pro position-relative">
    <div class="wave">
      <%= image_tag 'wave-03.png', class: 'position-absolute bottom-0 end-0 w-50 h-50' %>
    </div>
  <div class="container container-transparent-navbar align-items-center justify-content-between">
    <div class="text-center position-relative">
      <h3>Discover all our professionnal divers in <%=params[:query].capitalize %></h3>
    </div>
  </div>
</div>

<%# FILTRES + CARDS PROS %>
<%# <a class="btn btn-filter" href="#" role="button">Latest</a>
  <button class="btn btn-filter" type="submit">Popular</button> %>
<div class="container d-flex">
  <div class="cards">
    <% @pros.each do |p| %>
      <%= link_to pro_path(p) do %>
        <div class="card-pro shadow-sm">
          <div class="img-container">
            <%= cl_image_tag p.avatar.key if p.avatar.present? %>
          </div>
          <div class="card-infos font-weight-light background-white p-3">
            <div>
                <h2><%= p.first_name %> <%= p.last_name[0].capitalize%>.</h2>
                <p><%= truncate p.bio, length: 100 %></p>
                <span class="underline">Read more</span>
                <p><i style="color:#477E9F d-flex" class="fa-solid fa-location-dot"></i> <%= p.location %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
<%# LA MAP %>
    <div class="map-index rounded-2 mt-4" style="width: 75%; height: 700px; position: sticky; top: 0 "
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


</div>
