<div class="banner-show-pro d-flex align-items-center">
  <div>
    <%= cl_image_tag @pro.avatar.key, class: "avatar-profile" %>
    <p class="mx-5"><i style="font-size: 30px;" class="fa-brands fa-instagram"></i></p>
  </div>
  <div class="banner-pro-info">
    <h1><%= @pro.first_name %> <%= @pro.last_name[0].capitalize%>.</h1>
    <div class="d-flex">
        <p><% @pro.languages.each do |l|%>
        <span class="badge badge-pill"><%= l %></span>
        <% end %> | <span class="font-weight-smaller"><%= @booking.rating %><i class="fas fa-star star-yellow"></i></span></p>
    </div>
    <p><i class="fa-solid fa-location-dot"></i></i> <%= @pro.location %></p>
    <p></p>
    <div class="d-flex align-items-center">
      <p><%= @pro.bio%></p>
    </div>
  </div>

</div>
  <div class="mt-3 ms-3">
    <%= link_to "Back", :back, class: "btn btn-secondary" %>
  </div>
<div class="d-flex px-5">
  <div class="col-4 px-5">
    <strong>
    <p>Category</p>
    <div class="mb-3">
      <%= link_to "Course", pro_path(@pro, category:"Course", level: params[:level], query: params[:query]), class: "btn btn-success #{"active" if params[:category] == "Course"} "%>
      <%= link_to "Fun Dive", pro_path(@pro, category:"Fun Dive", level: params[:level], query: params[:query]), class: "btn btn-success #{"active" if params[:category] == "Fun Dive"}" %>
      <%= link_to "Specialty Training", pro_path(@pro, category:"Specialty Training", level: params[:level]), class: "btn btn-success #{"active" if params[:category] == "Specialty Training"}" %>
    </div>
    <p>Level</p>
    <div class="mb-3">
      <%= link_to "Beginner", pro_path(@pro, level:"Beginner", category: params[:category], query: params[:query]), class: "btn btn-success #{"active" if params[:level] == "Beginner"}" %>
      <%= link_to "Advanced", pro_path(@pro, level:"Advanced", category: params[:category], query: params[:query]), class: "btn btn-success #{"active" if params[:level] == "Advanced"}" %>
    </div>
    <p>Price</p>
    </strong>
    <div class="search-price col-sm-9 col-md-6 col-lg-6">
    <%= form_tag pro_path(@pro), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "max price"
      %>
      <%= hidden_field_tag :category, params[:category] %>
      <%= hidden_field_tag :level, params[:level] %>
      <button name="button" type="submit" class="btn btn-success">
          <i class="fas fa-search"></i>
      </button>

    <% end %>
    </div>
  </div>
  <div class="offers px-5">
      <h2 class="mx-4"><u>Experiences</u></h2>
      <% @offers.each do |o| %>

          <div class="card-offers shadow-sm p-4">
            <p><%= o.category %> | <i class="fa-solid fa-clock"></i> <%= o.duration %> <%= o.unit_duration %> | <i class="fa-solid fa-money-bills"></i> <%= o.currency %> <%= o.price %> | <%= o.level %></p>
            <h4><%= o.name %></h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="col-9">
              <p><%= truncate o.briefing, length:250 %></p>
              </div>
              <p><%= link_to offer_path(o), class:"btn btn-primary"  do %>
                  View Offer <i class="fa-solid fa-arrow-right-long"></i>
              <% end %></p>
            </div>
            <div class="card-offers-bottom">
            </div>
          </div>
      <% end %>
  </div>
</div>
