<div class="banner-show-pro d-flex">
  <%= cl_image_tag @pro.avatar.key, class: "avatar-profile" %>
  <div class="banner-pro-info">
    <h1><%= @pro.first_name %> <%= @pro.last_name[0].capitalize%>.</h1>
    <h5><i class="fa-solid fa-location-pin"></i> <%= @pro.location %></h3>
    <p><%= @pro.bio%></p>
  </div>
</div>

<div class="container mt-5">
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <%# <%= link_to "Create a new offer", new_offer_path, class: "btn btn-secondary" %>
  <h2><%=@pro.first_name%>'s courses</h2>

  <div class="offers mb-4">
      <% @offers.each do |o| %>
          <%= render "offers/show_offers_pro", offer: o %>
      <% end %>
  </div>
</div>
