<div class="banner-show-pro d-flex">
  <%= cl_image_tag @pro.avatar.key, class: "avatar-profile" %>
  <div class="banner-pro-info">
    <h1><%= @pro.first_name %> <%= @pro.last_name[0].capitalize%>.</h1>
    <h5><i class="fa-solid fa-location-pin"></i> <%= @pro.location %></h3>
    <p><%= @pro.bio%></p>
  </div>
</div>

<div class="container mt-5">
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <%# <%= link_to "Create a new offer", new_offer_path, class: "btn btn-secondary" %>
  <h2><%=@pro.first_name%>'s courses</h2>

  <div class="offers mb-4">
      <% @offers.each do |o| %>
          <div class="card-offers shadow-sm">
            <h2><%= o.name %></h2>
            <p><%= truncate o.briefing, length:150 %></p>
            <p><i><%= o.duration %> <%= o.unit_duration %></i></p>
            <div class="card-offers-bottom">
              <p><strong><%= o.currency %> <%= o.price %></strong></p>
              <!-- View offer details  -->
              <%= link_to "Details", offer_path(o), class:"btn btn-primary" %>
            </div>
          </div>
      <% end %>
  </div>
</div>
