<div class="banner-show-pro d-flex">
  <%= cl_image_tag @pro.avatar.key, class: "avatar-profile" %>
  <div class="banner-pro-info">
    <h1><%= @pro.first_name %> <%= @pro.last_name[0].capitalize%>.</h1>
    <div class="d-flex">
        <p><% @pro.languages.each do |l|%>
        <span class="badge badge-pill"><%= l %></span>
        <% end %></p>
      </div>
    <p><i class="fa-solid fa-location-dot"></i></i> <%= @pro.location %></p>
    <div class="d-flex align-items-center">
      <p><%= @pro.bio%></p>
      <p class="mx-5"><i style="font-size: 50px; color:orange;" class="fa-brands fa-instagram-square"></i></p>
    </div>
  </div>
  <%# <div class="vague-showpro">
  </div> %>
</div>
  <div class="mt-3 ms-3">
    <%= link_to "Back", :back, class: "btn btn-secondary" %>
  </div>
<div class="container d-flex">
  <div class="filters">
    <strong>
    <p>Category</p>
    <div class="d-flex">
    <%= link_to "Course", pro_path(@pro, category:"Course"), class: "btn btn-success" %>
    <%= link_to "Fun dive", pro_path(@pro, category:"Fun dive"), class: "btn btn-success" %>
    </div>
    <p>Level</p>
    <div class="d-flex">
    <%= link_to "Beginner", pro_path(@pro, level:"Beginner"), class: "btn btn-success" %>
    <%= link_to "Advanced", pro_path(@pro, level:"Advanced"), class: "btn btn-success" %>
    </div>
    <p>Price</p>
    </strong>
  </div>
  <div class="offers">
      <h2 class="mx-4">Experiences</h2>
      <% @offers.each do |o| %>

          <div class="card-offers shadow-sm p-4">
            <p><%= o.category %> | <i class="fa-solid fa-clock"></i> <%= o.duration %> <%= o.unit_duration %> | <i class="fa-solid fa-money-bills"></i> <%= o.currency %> <%= o.price %> | <%= o.level %></p>
            <h4><%= o.name %></h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="col-9">
              <p><%= truncate o.briefing, length:250 %></p>
              </div>
              <p><%= link_to offer_path(o), class:"btn btn-primary"  do %>
                  View Offer <i class="fa-solid fa-arrow-right-long"></i>
              <% end %></p>
            </div>
            <div class="card-offers-bottom">
            </div>
          </div>
      <% end %>
  </div>
</div>
