<div class="card-offers shadow-sm">
  <h2><%= offer.name %></h2>
  <p><%= truncate offer.briefing, length:150 %></p>
  <p><i><%= offer.duration %> <%= offer.unit_duration %></i></p>
  <div class="card-offers-bottom">
    <p><strong><%= offer.currency %> <%= offer.price %></strong></p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=offer.id%>">
    View offer
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal<%=offer.id%>" tabindex="-1" aria-labelledby="exampleModal<%=offer.id%>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal<%=offer.id%>Label"><%= offer.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p><%= offer.dives %> dive(s)</p>
          <p>Category: <%= offer.category %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Duration: <%= offer.duration %> <%= offer.unit_duration %></p>
          <p>Level: <%= offer.level %></p>
        </div>
        <h5>Briefing:</h5>
        <p><%= offer.briefing %></p>
        <h5>Included:</h5>
        <p><%= offer.included %></p>
        <h5>Prerequisites:</h5>
        <p><%= offer.prerequisites %></p>
      </div>
      <div class="modal-footer justify-content-between">
        <h3>Request the booking of this dive</h3>
        <%= render "bookings/new", offer: offer %>
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
      </div>
    </div>
  </div>
</div>
