<div class="container container-transparent-navbar">
  <h2>Write a review for <%=@pro.first_name%></h2>
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for @review do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
